p{
    text-align: center;
    color: black;
    background-color: yellow;
    font-size: 2em;
}

.p-class{
    color: orange;
    background-color: black;
}

#p-id {
    color: blue;
    background-color: salmon;
}